footer {
  background: rgb(21, 21, 21);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  color: white;
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
}

footer img {
  height: 30px;
  margin-right: 5px;
}

footer a,
a:visited,
a:focus {
  color: white;
}
