.comicsContainer {
  margin-top: 120px;
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/images/background_opt.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.comics {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

p.comics-count {
  color: white;
  font-style: italic;
}
