body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  color: white;
  margin: 40px 0;
}

.scrollToTop {
  position: fixed;
  width: 80px;
  right: 20px;
  bottom: 10%;
  height: 80px;
  font-size: 20px;
  z-index: 1;
  cursor: pointer;
  background-color: #395eac;
  border-radius: 50%;
  border-style: none;
  /* border: solid 2px rgb(46, 46, 46); */
}

.scrollToTop:hover {
  box-shadow: 5px 5px 20px white;

  border: solid 2px white;
}

.scrollToTop span {
  color: white;
}

.italic {
  font-style: italic;
}
